.objective-wrapper {
    /* background-color: #e6f5ff99; */
    padding-bottom: 3rem;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 1%, rgba(250, 253, 254, 1) 15%, rgba(230, 245, 255, 1) 100%);
}

#page-top{
    margin-top: 4rem;
}

.title{
    font-weight: 500;  
    text-align: center;  
}

.obj{
    margin: 3rem 20% 1rem 20%;
}

.obj > p{
    text-align: justify;
    line-height: 2;

}

#Abod{
    background-image: url('../assets/Me.jpg');
}
#Amroy{    
    background-image: url('../assets/amroy.jpg');
}
#Amr {
    background-image: url('../assets/amr.png');
    background-position: center;
    align-self: flex-end;
}
#emad {
    background-image: url('../assets/emad.jpeg');
    align-self: flex-end;
}

.picture {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    /* background-position: center;  */
    background-repeat: no-repeat; 
    background-size: cover; 
    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}

#margin{
    width:50%;
}

.uss {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 4rem;
    margin-top: 3rem;
}

.individual {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    font-size: 0.75em;
}

.quote{
    margin: 2rem 10%;
    text-align: justify;
    line-height: 2;
}

#md{
    color: #d13f4e;
    font-weight: 700;
    }
    
#vision{
    color: #1f59a2;
    font-weight: 600;
}

.us-wrapper{
    padding-bottom: 6%;
}

.interact{
    width:20px;
}

#name{
    margin:0;
    margin-bottom: 0.35rem;
}

.contact{
    display: flex;
    justify-content: center;
    gap: 1rem;
}