
#logo{
    width: 14vw;
    height: auto;
}

.navContainer {
    display: flex;
    justify-content:space-between;
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.navBtns{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

.navBtns:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1050px) {
    .navBtns{
        font-size: 0.8rem;
    }
}