.scan-background{
    width: 100vw;
    height: auto;
    background-image: radial-gradient(farthest-corner at 5% 90%, white, white, white, #4BD482);
}

.maintain-content {
    padding-top: 85px;
}

.hero-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    gap: 2rem;
}

.objective {
    font-size: 2em;
    color: rgb(0 0 0);
    padding: 0;
    margin-bottom: 2%;
    font-weight: 500;
}

.instructions{
    font-size: 0.75em;
    font-weight: 700;
    text-align: left;
    margin: 0;
    margin-bottom: 0.5rem;
}
.start-uploaded {
    margin-top: 3rem;
    width: 50%;
    height: 15%;
}

.start-scan {
    width: 50%;
    height: 15%;
}

.start{
    width: 100%;
    height: 75%;
    border: 0;
    border-radius: 1rem;
    background: #1f59a2;
    color: white;
    font-size: 1em;
    font-weight: 500;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    animation: all 1s ease-in;
}
.start[disabled]{
    background: #b3b3b3;
    color: #666666;
    cursor: not-allowed;
}
.start:not([disabled]):hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    transition: 0.2s;
}

.btn {
    /* cursor: pointer; */
}

.scan {
    width: 50%;
    height: 35%;
}

.upload {
    border: black solid 0px;
    width: 100%;
    height: 90%;
    border-radius: 7px;
    background: white;
    font-weight: 500;
    padding: 1.25rem 1.5rem;
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.nashat {
    position: relative;
    margin-bottom: 1rem;
}

.reupload {
    position: absolute;
    top: -7px;
    right: 0;
    font-size: 0.75em;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    box-shadow: 0px 0px 8px rgba(40, 113, 196, 0.4);
    background-color: rgb(255, 0, 0);
    width: 20px;
    height: 20px;
}

.upload > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload, .reupload {
    cursor: pointer;
}

.reupload:hover {
    background-color: rgb(0, 255, 89);
    transition: 0.6s;
    transform: rotate(360deg);
}

.divUploaded {
    height: 100%;
    width: 100%;
    font-family: cursive;
}

.upload:hover {
    background-color: #efefef;
}

.upload:active{   
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.upload:focus{
    border:0;
}

.upIcon {
    width: 40px;
}

.scan-wrapper{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 5%;
    height: 100vh;
}


.page-quote {
    height: 100%;
    width: fit-content;
    text-align: left;
    padding-right: 3vw;
    padding-bottom: 13vh;
}

.main {
    width : auto;
    height : auto;
}

.page-quote > p {
    text-align: left;
    font-size: 2em;
}

#upload {
    color: red;
    font-weight: bold;
}

#ease {
    color: limegreen;
    font-weight: bold;
}

#free {
    color: blue;
    font-weight: bold;
}

.lottie {
    height: 60vh;
    padding-left: 2rem;
}

.success{
    position: relative;
    font-size: 0.75em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 3px;
    top: 10px;
}

.successHidden {
    display: none;
}

.success > img{
    width: 20px;
}

.uploaded-image {
    width: 100%;
    height: 95%;
    object-fit: contain;
}