.scan-background{
    width: 100vw;
    height: auto;
    background-image: radial-gradient(farthest-corner at 5% 90%, white, white, white, #4BD482);
}

.maintain-content {
    padding-top: 85px;
}

.hero-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    gap: 2rem;
}

.objective {
    font-size: 2em;
    color: rgb(0 0 0);
    padding: 0;
    margin-bottom: 7%;
    font-weight: 500;
}

.instructions{
    font-size: 0.75em;
    font-weight: 700;
    text-align: left;
    margin: 0;
    margin-bottom: 1rem;
}
.start-uploaded {
    width: 50%;
    /* height: 15%; */
    margin-bottom: 5%;
}

.start-scan {
    width: 50%;
    /* height: 15%; */
}

.start{
    width: 100%;
    height: 100px;
    border: 0;
    border-radius: 1rem;
    background: #1f59a2;
    color: white;
    font-size: 1em;
    font-weight: 500;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    animation: all 1s ease-in;
    cursor: pointer;
}
.start[disabled]{
    background: #b3b3b3;
    color: #666666;
    cursor: not-allowed;
}
.start:not([disabled]):hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    transition: 0.2s;
}

.scan {
    width: 50%;
    margin-bottom: 4%;
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upload {
    border: black solid 0px;
    width: 100%;
    height: 250px;
    border-radius: 7px;
    background: white;
    font-weight: 500;
    padding: 1.25rem 1.5rem;
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.nashat {
    position: relative;
    /* margin-bottom: 1rem; */
}

.reupload {
    position: absolute;
    top: -7px;
    right: 0;
    font-size: 0.75em;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    box-shadow: 0px 0px 8px rgba(40, 113, 196, 0.4);
    background-color: rgb(255, 0, 0);
    width: 20px;
    height: 20px;
}

.upload > div {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload, .reupload {
    cursor: pointer;
}

.reupload:hover {
    background-color: rgb(0, 255, 89);
    transition: 0.6s;
    transform: rotate(360deg);
}

.divUploaded {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    /* height: 75%; */
    /* font-family: cursive; */
}

.upload:hover {
    background-color: #efefef;
}

.upload:active{   
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.upload:focus{
    border:0;
}

.upIcon {
    width: 40px;
}

.scan-wrapper{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 20%;
}


.page-quote {
    height: 100%;
    width: fit-content;
    text-align: left;
    padding-right: 3vw;
    padding-bottom: 13vh;
}

.main {
    width : auto;
    height : auto;
}

.page-quote > p {
    text-align: left;
    font-size: 2em;
}

#upload {
    color: red;
    font-weight: bold;
}

#ease {
    color: limegreen;
    font-weight: bold;
}

#free {
    color: blue;
    font-weight: bold;
}

.lottie {
    height: 60vh;
    padding-left: 2rem;
}

.success{
    position: relative;
    font-size: 0.75em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 3px;
    /* top: 10px; */
}

.successHidden {
    display: none;
}

.success > img{
    width: 20px;
}

.uploaded-image {
    width: 60%;
    object-fit: contain;
}

.model-type {
    width: 50%;
    margin-bottom: 5%;
}

.DropDown{
    width:100%;
    height: 50px;
    border-radius: 0.75rem;
    padding: 10px;
    font-size: 0.75em;
    font-weight: 600;
    border: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.DropDown:focus-visible{
    border: 0;
}


.swal2-popup {
    font-family: "Montserrat", sans-serif;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm{
    background-color: #1f59a2;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}


@media screen and (max-width:700px) {

    .page-quote{
        width: auto;
        font-size: 0.4em;
        padding-bottom: 4vh;
    }

    .page-quote > p{
        margin:0;
    }

    .lottie{
        height: 30vh;
    }

    .instructions{
        font-size: 0.5em;
    }

    .upload{
        font-size: 0.5em;
        max-height: 110px;
    }

    .upIcon{
        width: 25px;
    }

    .objective{
        font-size: 1.1em;
    }

    .scan{
        width: 60%;
    }

    .model-type{
        width: 60%;
    }

    .start-scan{
        width: 60%;
    }

    .start-uploaded{
        width: 60%;
    }

    .start{
        height: 50px;
        border-radius: 0.5rem;
        font-size: 0.7em;
    }

    .DropDown{
        font-size: 0.5em;
        height: 100%;
        border-radius: 0.5rem;
        padding: 7px;
    }

    .success{
        font-size: 0.4em;
    }

    .success > img{
        width: 10px;
    }

    .reupload{
        top: -3px;
        width: 10px;
        height: 10px;
        padding: 0.4rem 0.5rem;
    }
    
}

@media screen and (max-width:450px) {
    
    .objective{
        font-size: 0.9em;
    }
}