.symptom-list{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}

.symptomName {
    text-decoration: none;
    color: black;
}

.symptomName > p{
    text-align: left;
    text-decoration: underline;
    text-decoration-color: transparent;
    margin-top: 0;
    transition: text-decoration-color 0.3s ease-in-out;
}

.symptomName > p:hover {
    text-decoration-color: black;
    /* text-decoration: underline solid currentColor; */
}

.card-wrapper > h2 {
    text-decoration: underline;
    text-decoration-color: #d13f4e;
    color: #1f59a2;
    text-decoration-thickness: 5px;
    font-family: sans-serif;
    margin-top: 0;
}

.card-wrapper {
    margin-top: 2.5vh;
    margin-bottom: 0;
}


.hr-line {
    border-top: 1px solid #f5f5f5 ;
    width: 40%;
    position: absolute;
    margin: 0;
}
    