
#logo{
    width: 14vw;
    height: auto;
}

.navContainer {
    margin-top: 32px;
    display: flex;
    justify-content:space-between;
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.navBtns{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

.navBtns:hover{
    text-decoration: underline;
}
 
div.btnContainer div{
    display: inline-block;
}


.background {
    height: auto;
    width: 100vw;
    background-image: radial-gradient(farthest-corner at -90% -10%,white,white,white,#267FD9);
}

.catchphrase{
    width: 50%;
    margin-top: 109px;
}

.catchphrase p{
    margin: 0;
    padding: 0;
}


p.slogan{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 24px;
}


.pageFront {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.pageFront img{
    mix-blend-mode:darken;
    margin-top: 38px;
    width: 40vw;
    height: auto;
}


/* Media Queries */

@media screen and (max-width: 1050px) {
    .catchphrase{
        margin-top: 50px;
    }
    .catchphrase p.slogan{
        font-size: 1.5em;
    }

    .catchphrase p.goal{
        font-size: 0.8rem;
    }

    .navBtns{
        font-size: 0.8rem;
    }
}


@media screen and (max-width: 690px) {

    .catchphrase p.slogan{
        font-size: 1em;
    }

    .catchphrase p.goal{
        font-size: 0.7rem;
    }
}

